*.swo
target
Cargo.lock
*.orig
*.bk
*rlib
tags
path
.DS_Store
.idea
.vscode
doit.sh
doit.sh~
errlog.txt
log.txt
report.txt
str.txt
todo.txt
#todo.txt#
.#todo.txt
oldflake.nix

# Temporary files and backups
#env.txt#
#strace.txt#
#todo.txt#
.#env.txt
.#strace.txt
Makefile.old
collect.sh
env.txt
env.txt~
librocksdb-sys/build.rs.old
librocksdb-sys/build.rs.old2
librocksdb-sys/build.rs.old~
str2.txt
test.sh
test.sh~flake.lock
